{% extends "base.html" %}

{% block title %}Submit{% endblock %}

{% block content %}

<form class="form-horizontal" action="/app/addIncident" method="GET">
  <fieldset>
		<center>
			<legend>What is the nature of your Emergency?</legend>
		</center>
    <div class="control-group">
      <label class="control-label" for="input01">Incident Name</label>
      <div class="controls">
        <input type="text" name="title" class="input-xlarge" id="input01">
        <p class="help-block">Short Incident title</p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="location">Location</label>
      <div class="controls">
        <input type="text" name="location" class="input-xlarge" id="location">
        <p class="help-block">Postcode, Visible Landmarks</p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="select01">Emergency Responder Type</label>
      <div class="controls">
        <select name="category" id="select01">
          <option>Police</option>
          <option>Fire</option>
          <option>Ambulance</option>
          <option>Mountain Rescue</option>
          <option>The A Team</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="textarea">Details of Incident</label>
      <div class="controls">
        <textarea class="input-xlarge" name="description" id="textarea" rows="3"></textarea>
        <p class="help-block">Please give as much detail as you can.</p>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-warning">Submit Incident</button>
      <button class="btn">Clear</button>
    </div>
  </fieldset>
</form>

{% endblock %}










