{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="hero-unit">
  <input type="text" style="text-align:center" class="span5  search-query" placeholder="Search">
  <h2 style="text-align:center">Incident List</h2>
</div>


{% if latest_incidents %}
 <div class="accordion span6 offset3" id="accordion2">
	 {% for i in latest_incidents %}
            <div class="accordion-group">
              <div class="accordion-heading"><div class="btn btn-danger btn-small pull-right">Down: {{i.downvotes}}</div> <div class="btn btn-success btn-small pull-right">Up: {{i.upvotes}}</div>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{i.id}}">
                  {{i.title}} 
                  </a>
              </div>
              <div id="{{i.id}}" class="accordion-body collapse in">
                <div class="accordion-inner">
			<div class="well">
				<div class="row">
					<div class="span3">
						<dl>
							<dt>Submitted On</dt>
								<dd>{{i.submission_time}}</dd>
							
						</dl>
					</div>
				</div>                	
				{{i.description}}
			</div>
                </div>
              </div>
            </div>
            
	{% endfor %}
	
	
          
{% else %}
    <p>No Incidents Available</p>

{% endif %}
    <!-- END OF VIEW -->

{% endblock %}
