{% extends "base.html" %}

{% block title %}Submit{% endblock %}

{% block content %}
<h1>Submit View</h1>

<form class="form-horizontal">
        <fieldset>
          <legend>What is the nature of your Emergency?</legend>
          <div class="control-group">
            <label class="control-label" for="input01">Incident Name</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="input01">
              <p class="help-block">Short Incident title</p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="input01">Location</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="input01">
              <p class="help-block">Postcode, Visible Landmarks</p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="select01">Emergency Responder Type</label>
            <div class="controls">
              <select id="select01">
                <option>Police</option>
                <option>Fire</option>
                <option>Ambulance</option>
                <option>Mountain Rescue</option>
                <option>The A Team</option>
              </select>
            </div>
          </div>
          <!--<div class="control-group">
            <label class="control-label" for="multiSelect">Multicon-select</label>
            <div class="controls">
              <select multiple="multiple" id="multiSelect">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>-->
          <div class="control-group">
            <label class="control-label" for="textarea">Details of Incident</label>
            <div class="controls">
              <textarea class="input-xlarge" id="textarea" rows="3"></textarea>
              <p class="help-block">Please give as much detail as you can.</p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="optionsCheckbox">I agree etc</label>
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" id="optionsCheckbox" value="option1">
                Option one is this and that&mdash;be sure to include why it's great
              </label>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-warning">Submit Incident</button>
            <button class="btn">Cancel</button>
          </div>
        </fieldset>
      </form>

{% endblock %}










